OLLAMA_URL=http://localhost:11434/api
LLM_MODEL=qwen2.5:3b
EMBED_MODEL=nomic-embed-text
VERIFY_SSL=false
COLLECTION_NAME=dni
CORPUS_DIR=corpus
CHROMA_PATH=data/chroma
POLIGPT_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxx
POLIGPT_BASE_URL=https://api.poligpt.upv.es/v1
